<div class="post-card">
  <div class="post-body">
    <h4 class="post-title"><%= post.title %></h4>
    <p class="post-text"><%= post.text %></p>
    <div class="post-metadata">
      <h6 class="comment-count">Comments: <%= post.comment_counter %>,</h6>
      <h6 class="like-count">Likes: <%= post.like_counter %></h6>
    </div>
  </div>
</div>
