<div class="user-card">
  <div class="user-photo">
    <img src="<%= user.photo %>" class="user-avatar" height="90" alt="User's Avatar" />
  </div>
  <div class="user-details">
    <div class="user-name">
      <h3><%= user.name %></h3>
    </div>
    <div class="post-count">
      <h6 class="post-count-label">Number of posts: <%= user.posts_counter %></h6>
    </div>
  </div>
</div>
