<% if @users.empty? %>
<h1> Plase add user at first</h1>
<%end%>
<div class = "">
<% @users.each do |user|%>
  <a href="/users/<%= user.id %>" class="">
        <%= render 'partials/user', user: user %>
  </a>
<%end%>
</div>